%header#overview.jumbotron.subhead
  .row
    .span12
      %h1 Welcome
      %p.lead Please enter your Mog and/or Beats Information
  = form_for(@user, :html => {:class => 'form-horizontal' }) do |f|
    %fieldset
      .row
        .span6
          .bsa.well
            %h3 Mog Credentials
            .control-group
              %label.control-label Mog Email Address
              -#= f.label :name, :class => 'control-label'
              .controls
                = f.text_field :mog_email
            .control-group
              %label.control-label Mog Password
              .controls
                = password_field_tag('mog_password')
                %small note: this password will be sent in the clear, but it is not stored on this server
        .span6
          .bsa.well
            %h3 Beats Credentials
            .control-group
              %label.control-label Beats Email Address
              .controls
                = f.text_field :beats_email
            .control-group
              %label.control-label Beats Password
              .controls
                = password_field_tag('beats_password')
                %small note: this password will be sent in the clear, but it is not stored on this server
      .row
        .span12.text-center
          = f.submit(:value => 'Submit Form', :class => 'btn btn-primary btn-large')
  -#.subnav
  -#  %ul.nav.nav-pills
  -#    %li
  -#      %a{href: "#typography"} Typography
  -#    %li
  -#      %a{href: "#navbar"} Navbar
  -#    %li
  -#      %a{href: "#buttons"} Buttons
  -#    %li
  -#      %a{href: "#forms"} Forms
  -#    %li
  -#      %a{href: "#tables"} Tables
  -#    %li
  -#      %a{href: "#miscellaneous"} Miscellaneous

-#%h1 Welcome
-#
-#=@foo