%header#overview.jumbotron.subhead
  .row
    .span6
      %h1 Enter your Mog Credentials
      %p.lead Put in your username and password for mog, then we will attempt to scan for your favorites and playlists.
  = form_for(@user, :html => {:class => 'form-horizontal' }) do |f|
    %fieldset
      .row
        .span12
          .bsa.well
            %h3 Mog Credentials
            .control-group
              %label.control-label Mog Email Address
              -#= f.label :name, :class => 'control-label'
              .controls
                = f.text_field :mog_email
            .control-group
              %label.control-label Mog Password
              .controls
                = password_field_tag('mog_password')
                %br
                %small note: this password will be sent in the clear, but it is not stored on this server
            = f.hidden_field :mog_process, :value => true
        -#.span6
        -#  .bsa.well
        -#    %h3 Beats Credentials
        -#    .control-group
        -#      %label.control-label Beats Email Address
        -#      .controls
        -#        = f.text_field :beats_email
        -#    .control-group
        -#      %label.control-label Beats Password
        -#      .controls
        -#        = password_field_tag('beats_password')
        -#        %small note: this password will be sent in the clear, but it is not stored on this server
      .row
        .span12.text-center
          = f.submit(:value => 'Submit Form', :class => 'btn btn-primary btn-large')