.row
  .span12
    %hr
    %footer#footer
      %p.pull-right
        %a{href: "#top"} Back to top
      .links
        %a{href: "http://bicyclelad.com"} Blog
        %a{href: "https://twitter.com/dabigmig"} Twitter
        %a{href: "https://github.com/mjelks/"} GitHub
        %a{href: "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=F22JEM3Q78JC2"} Donate
      Made by
      = succeed "." do
        %a{href: "http://michaeljelks.com", rel: "nofollow"} Michael Jelks
      -#= succeed "." do
      -#  %a{href: "mailto:thomas@bootswatch.com"} thomas@bootswatch.com
      %br/
      Code licensed under the
      = succeed "." do
        %a{href: "http://opensource.org/licenses/MIT", rel: "nofollow"} MIT License
      %br/
      Based on
      = succeed "." do
        %a{href: "http://getbootstrap.com/2.3.2/", rel: "nofollow"} Bootstrap
      = succeed "." do
        %a{href: "http://pages.github.com/", rel: "nofollow"} GitHub
      = succeed "." do
        %a{href: "http://fortawesome.github.com/Font-Awesome/", rel: "nofollow"} Font Awesome
      = succeed "." do
        %a{href: "http://www.google.com/webfonts", rel: "nofollow"} Google
      = succeed "." do
        %a{href: "https://twitter.com/geraldhiller", rel: "nofollow"} Gerald Hiller
      %p